<%= @user.name%>


<div>本一覧</div>
<% @post_book.each do |post| %>
  <%= post.body %>
  <%= post.class %><br>
<% end %>

<div>服一覧</div>
<% @post_clothes.each do |post| %>
  <%= post.body %>
  <%= post.class %><br>
<% end %>

